In [ ]:
import mysql.connector
import pandas as pd

# Connect ke  MySQL
mydb = mysql.connector.connect(
    host="localhost",  # Lokasi host database
    user="root",       # Pengguna database
    password="root",   # Kata sandi database
    database="sakila"  # Nama database yang digunakan
)

mycursor = mydb.cursor()

# Menjalankan query SQL untuk mencari data actor berdasarkan nama yang mengandung 'BE'
mycursor.execute("SELECT first_name, last_name FROM actor WHERE last_name LIKE '%BE%'")
myresult = mycursor.fetchall()

columns = []
for asc in mycursor.description:
    columns.append(asc[0])

frame = pd.DataFrame(myresult, columns=columns)
print('\nOUTPUT')
print(frame)

mydb.close()

In [1]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="sakila"
)

# Query SQL
mycursor = mydb.cursor()
mycursor.execute("SELECT city.city_id, city, address FROM city INNER JOIN address ON city.city_id = address.city_id ORDER BY city.city_id ASC")
myresult = mycursor.fetchall()

# Get nama kolom
columns = []
for asc in mycursor.description:
    columns.append(asc[0])

# Membuat DataFrame
df = pd.DataFrame(myresult, columns=columns)

print(df)

     city_id                  city                               address
0          1  A Coruña (La Coruña)                  939 Probolinggo Loop
1          2                  Abha                 733 Mandaluyong Place
2          3             Abu Dhabi                  535 Ahmadnagar Manor
3          4                 Acuña              1789 Saint-Denis Parkway
4          5                 Adana              663 Bahía Blanca Parkway
..       ...                   ...                                   ...
598      596                 Zaria                     885 Yingkou Manor
599      597          Zeleznogorsk                       1378 Beira Loop
600      598           Zhezqazghan  521 San Juan Bautista Tuxtepec Place
601      599              Zhoushan                   346 Cam Ranh Avenue
602      600            Ziguinchor                     1889 Valparai Way

[603 rows x 3 columns]

C:\Users\acern\AppData\Local\Temp\ipykernel_10900\3768765776.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
n = 0
while n < 60:
    data = df.loc[df['city_id'] == n, ['city', 'address']]
    if not data.empty:
        print(data)
    n += 1

                   city               address
0  A Coruña (La Coruña)  939 Probolinggo Loop
   city                address
1  Abha  733 Mandaluyong Place
        city               address
2  Abu Dhabi  535 Ahmadnagar Manor
    city                   address
3  Acuña  1789 Saint-Denis Parkway
    city                   address
4  Adana  663 Bahía Blanca Parkway
          city              address
5  Addis Abeba  614 Pak Kret Street
   city        address
6  Aden  751 Lima Loop
    city          address
7  Adoni  230 Urawa Drive
         city              address
8  Ahmadnagar  922 Vila Velha Loop
       city                address
9  Akishima  923 Tangail Boulevard
     city                 address
10  Akron  98 Pyongyang Boulevard
      city             address
11  al-Ayn  669 Firozabad Loop
         city                  address
12  al-Hawiya  1124 Buenaventura Drive
         city                 address
13  al-Manama  1759 Niznekamsk Avenue
          city                    address
14  al-Qadarif  1152 Citrus Heights Manor
        city                address
15  al-Qatif  289 Santo André Manor
           city                    address
16  Alessandria  127 Purnea (Purnia) Manor
                     city               address
17  Allappuzha (Alleppey)  431 Xi´angtan Avenue
       city               address
18  Allende  397 Sunnyvale Avenue
               city               address
19  Almirante Brown  1623 Kingstown Drive
        city                     address
20  Alvorada  1407 Pachuca de Soto Place
        city          address
21  Ambattur  1014 Loja Manor
          city              address
22  Amersfoort  992 Klerksdorp Loop
      city           address
23  Amroha  949 Allende Lane
              city             address
24  Angra dos Reis  1354 Siegen Street
        city            address
25  Anápolis  356 Olomouc Manor
           city               address
26  Antofagasta  1718 Valencia Street
                    city             address
27  Aparecida de Goiânia  1201 Qomsheh Manor
         city            address
28  Apeldoorn  1749 Daxian Place
         city        address
29  Araçatuba  1692 Ede Loop
    city                    address
30  Arak  334 Munger (Monghyr) Lane
       city             address
31  Arecibo  1009 Zanzibar Lane
         city                           address
32  Arlington  913 Coacalco de Berriozábal Loop
      city          address
33  Ashdod  659 Vaduz Drive
        city               address
34  Ashgabat  387 Mwene-Ditu Drive
        city                        address
35  Ashqelon  632 Usolje-Sibirskoje Parkway
        city               address
36  Asunción  201 Effon-Alaiye Way
       city            address
37  Athenai  692 Joliet Street
       city             address
38  Atšinsk  616 Hagonoy Avenue
       city                           address
39  Atlixco  125 Città del Vaticano Boulevard
                       city           address
40  Augusta-Richmond County  1308 Arecibo Way
      city             address
41  Aurora  587 Benguela Manor
42  Aurora    43 Vilnius Manor
          city                        address
43  Avellaneda  1229 Varanasi (Benares) Manor
    city       address
44  Bagé  1190 0 Place
            city                          address
45  Bahía Blanca  1427 A Coruña (La Coruña) Place
        city              address
46  Baicheng  183 Haiphong Street
      city          address
47  Baiyin  362 Rajkot Lane
    city                    address
48  Baku  431 Székesfehérvár Avenue
        city                            address
49  Balašiha  1697 Kowloon and New Kowloon Loop
         city              address
50  Balikesir  1912 Emeishan Drive
         city               address
51  Balurghat  624 Oshawa Boulevard
       city              address
52  Bamenda  1641 Changhwa Place
                   city              address
53  Bandar Seri Begawan  1370 Le Mans Avenue
      city             address
54  Banjul  247 Jining Parkway
         city                      address
55  Barcelona  502 Mandi Bahauddin Parkway
     city          address
56  Basel  915 Ponce Place
       city                    address
57  Bat Yam  1542 Lubumbashi Boulevard
      city            address
58  Batman  29 Pyongyang Loop
     city                 address
59  Batna  1924 Shimonoseki Drive